<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Avaliação Formadora 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Avaliação Formadora</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <img src="https://scontent.fgig20-1.fna.fbcdn.net/v/t39.30808-6/379458724_1045511479802244_7686885887589426230_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=5f2048&_nc_ohc=nVSR1_KYuXEAX8VcMZH&_nc_ht=scontent.fgig20-1.fna&oh=00_AfD4z5n1Zg5kHthTHMzUgS9kF9hmePaWxwfVFPsU3DGJAg&oe=6609C978">
    <br />
    <strong>Arthur Buçard</strong>
    <p>Código da Turma: ADS0301M</p>
  </div>
</ion-content>
